<div class="fixed wtop-0 left-0 z-40 w-60 h-screen p-4 overflow-y-auto bg-cmblue sidebar close">
    <div class="overflow-y-autoq flex flex-col h-full">
     
        {{!-- <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden">
        <label for="checkbox4">
            <div class="hamburger hamburger4 ml-2 relative mt-3 mb-5">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
                <span class="bar bar5"></span>
            </div>
        </label> --}}

      <ul class="space-y-4 font-medium">
         <i class="fa-solid fa-bars ml-3 text-white tgl cursor-pointer my-2 text-xl"></i>
         <li>
            <a href="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black group hover:bg-white active">
               <i class="fa fa-home group-hover:text-cmblue text-white text-xl" aria-hidden="true"></i>
               <span class="flex-1 ml-3 whitespace-nowrap group-hover:text-cmblue text-white">Dashboard</span>
            </a>
         </li>
         <li>
            <a href="/loan-records" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group hover:bg-white">
               <i class="fas fa-folder group-hover:text-cmblue text-white text-xl" aria-hidden="true"></i>
               <span class="flex-1 ml-3 whitespace-nowrap group-hover:text-cmblue text-white">Loan Records</span>
            </a>
         </li>
         <li>
            <a href="/audit-log" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group hover:bg-white">
               <i class="fa fa-history group-hover:text-cmblue text-white text-xl" aria-hidden="true"></i>
               <span class="flex-1 ml-3 whitespace-nowrap group-hover:text-cmblue text-white">Audit Log</span>
            </a>
         </li>
         <li class="mt-auto">
            <a href="/logout" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group hover:bg-white">
               <i class="fas fa-sign-out-alt group-hover:text-cmblue text-white text-xl"></i>
               <span class="flex-1 ml-3 whitespace-nowrap group-hover:text-cmblue text-white">Logout</span>
            </a>
         </li>
      </ul>
   </div>
</div>


<script src="/js/hamburger.js"></script>