<div class="fixed w-16 top-5 h-full bg-green-500">
    <div class="flex flex-col mt-20 mx-5 gap-10">
        <p> borgor </p>
        <p> Dashboard </p>
        <p> Loan Records </p>
        <p> Audit Log </p>
        <p> Log Out </p>
    </div> 
</div>