<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLS Lending</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/digital_clock.js"></script>
</head>
<body>
            <!--  header  -->

        <div class="navbar bg-base-100">
          <div class="flex-none">
            <img src="/images/logo.png" alt="Logo" class="h-10 w-auto" style="height: 5rem;">
          </div>
          <div class="flex-1">
            <div class="flex items-center" style="margin-left: 1rem;"> 
              <a class="text-button normal-case text-sm squeezed-font">Building a <span class="highlighted-text">Solid</span> Financial Foundation</a>
            </div>
          </div>
          <div class="flex-none" style="margin-right: 1rem;">
            <p class="text-xl" id="date-time"></p>
          </div>
        </div>

        {{{body}}}
        
    </body>
</html>