<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!--  header -->

<div class="navbar bg-base-100">
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </button>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">CLS Lending</a>
  </div>
  <div class="flex-none">
    <a class="btn btn-ghost normal-case text-xl">Local Time 13:00</a>
  </div>
</div>

  <button class="btn w-64 rounded-full">Button</button>

  <h1>{{header}}</h1>
  {{{body}}}

    <!-- JQuery JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Fontawesome JS -->
    <script src="https://kit.fontawesome.com/8fc6c81a17.js" crossorigin="anonymous"></script>
  </body>
</html>