    <div id="background"> 
        <div id="container">
        <div id="left-box" class="box">
            <img id="logo" src="/images/logo.png">
        </div>
        <div id="right-box" class="box">
            <div id="login-container"> 
            <div class="section" id="upper"> 
                <h1> Welcome Back! </h1>
            </div>
            <div class="section" id="middle"> 

            </div>  
            <div class="section" id="lower">
                
            </div>
            </div>
        </div>
        </div>
    </div>
