    <div id="background"> 
        <div id="container">
        <div id="left-box" class="box">
            <img id="logo" src="/images/logo.png">
        </div>
        <div id="right-box" class="box">
            <div id="login-container"> 
                <div class="section" id="upper"> 
                    <h1> Welcome Back! </h1>
                </div>
                <form action="" class="mt-10">
                        <div class="relative">
                            <i class="fa fa-user absolute mt-5 ml-3" id="icon-user"></i>
                            <input type="text" placeholder="Username" id="username-login" class="text-sm pl-10 px-4 py-3 mb-5 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none" required>
                        </div>
                        <div class="related">
                            <i class="fa-solid fa-lock icon-lock absolute mt-5 ml-3" id="icon-lock"></i>
                            <input type="text" placeholder="Password" id="password-login" class="text-sm pl-10 px-4 py-3 mb-5 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none" required>
                        </div>
                        <button class="btn w-2/4">Sign in</button>
                    </div>             
                </form>
            </div>
        </div>
        </div>

      
    </div>
