 <div class="min-h-screen h-screen flex items-center justify-center">
    <div class="grid grid-cols-2">
        <div class="container flex flex-col justify-center items-center bg-gray-100 ml-9 h-full" id="left-cont" >
            <div class="container flex justify-center mt-10">
               <img src="/images/logo.png" class="w-20">
            </div>
            <div id="login-container" class="container py-12"> 

                <!-- header text -->
                <div class="section mt-6"> 
                    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Welcome Back!</h1>
                    <p class="mb-6 text-lg font-normal text-gray-500 dark:text-gray-400">Please sign in to your account.</p>
                </div>

                <form action="" class="mt-10 flex flex-col items-center" style="width: 90%;">
                    
                    <div class="container">
                    <!-- email -->
                     <label for="email-login" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Your email</label>
                        <div class="relative flex items-center">
                            <div class="absolute inset-y-0 flex items-center pl-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                            </div>
                              <input type="text" id="email-login" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " placeholder="name@flowbite.com">
                        </div>

                        <!-- password -->
                        <label for="pass-login" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-5 text-left">Password</label>
                        <div class="relative flex items-center">
                            <div class="absolute inset-y-0 flex items-center pl-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                                 <path d="M14 7h-1.5V4.5a4.5 4.5 0 1 0-9 0V7H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-5 8a1 1 0 1 1-2 0v-3a1 1 0 1 1 2 0v3Zm1.5-8h-5V4.5a2.5 2.5 0 1 1 5 0V7Z"/>
                             </svg>
                            </div>
                              <input type="password" id="pass-login" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " placeholder="••••••••">
                        </div>

                        <!-- remember me -->
                        <div class="flex items-center justify-between mt-6">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                                </div>
                            </div>
                        <a href="#" class="text-sm font-medium text-blue-600 hover:underline">Forgot password?</a>
                        </div>
                    </div>
                        <button class="btn login-btn mt-10" style="width: 90%;">Sign in</button>
                              
                </form>
            </div>
        </div>

                 <div id="login-side-cont" class="container px-20 py-12 hidden lg:block h-full">
            <div class="items-center"> 
                <div class="section px-20 ml-5 pb-12">          
        <h1 class="mb-4 text-lg font-extrabold leading-none tracking-tight text-white lg:text-5xl">Building a Solid Financial Foundation with <span class="text-yellow">CLS.</span></h1>
        <p class="text-lg hidden font-normal text-gray-100 mt-2 md:hidden lg:block">At CLS, our mission is to empower individuals and businesses by providing accessible lending solutions that fuel growth and financial prosperity. </p>
                </div>
            </div>
        </div>
            
    </div>
 </div>
    